body {
    background-color:#DBDDE5;
    font-family: 'Inter', sans-serif;
    color: #064658;
    margin: 0px;
}

button {
    display: flex;
    height: auto;
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 6px;
    border: 0px solid var(--controls-neutral-control-color-70, #DBDDE5);
    background: #064658;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #DBDDE5;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 126.316% */
    justify-content: center;
    cursor: pointer;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.drex button {
    width: 100%;
    height: auto;
    border-radius: 6px;
    background-color: #DBDDE5;
    border: solid #064658;
    color: #064658;
    justify-content: center;
    gap: 16px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: none;
     }

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    height: 450px;
    color: #B3CA0A;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(images/background.png);
    background-size:contain;
    margin: 0px;
    
}

.solicite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
    flex-wrap: wrap;
    
}

.solicite .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: solid #064658;
    border-radius: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    height: 250px;
}

.solicite .card .titulocard {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: -30px;
    margin-top: -40px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    max-height: 4px;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb {
  background: #FAFF00;
  border-radius: 40px;
}

footer img {
    display: flex;
    width: 10%;
}





